{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/base-resp.html" %}

{% block page_title %}{{_('Get Involved: Volunteer Opportunities at Mozilla')}}{% endblock %}
{% block body_id %}contribute{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('contribute-new') }}
{% endblock %}

{% block js %}
  {{ js('contribute-new') }}
{% endblock %}

{% block site_header_nav %}
<nav id="nav-main" role="navigation">
  <span class="toggle" role="button" aria-controls="nav-main-menu" aria-expanded="false" tabindex="0">{{_('Menu')}}</span>
  <ul id="nav-main-menu">
    <li class="first"><a href="{{ url('mozorg.contribute.a2.landing') }}">{{_('Get Involved')}}</a></li>
    <li><a href="{{ url('mozorg.contribute.a2.events') }}">{{_('Events')}}</a></li>
    <li class="last"><a href="{{ url('mozorg.contribute.a2.stories') }}">{{_('Stories')}}</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<main role="main">

  <p class="back-link" role="navigation"><a href="{{ url('mozorg.contribute.a2.events') }}">Back to events list</a></p>

  <div class="box vevent">

    <div class="event-general">

      <p class="event-time">
        <span class="date">
          <span class="date-d">10</span>
          <span class="date-m-y">August 2014</span>
          <span class="day">Friday</span>
        </span>
        <span class="time">
          <span class="time-start"><i>Start</i> 09:00</span>
          <span class="time-end"><i>End</i> 15:00</span>
        </span>
      </p>

      <h1 class="event-title">Firefox OS apps hacking</h1>

      <div class="event-desc">
        <p> We will be showing B2G internals, how it might change the mobile landscape and why Mozilla and Telefónica want to make a cheap web-based smartphone. This event is for Telefónica (I+D) employees, to make sure we have a good visibility inside the company and have some co-workers having fun developing in HTML5. Also, there is some planning about having this events open to the public each 2-3 weeks on Fridays with support from other teams at Telefónica and in a more centric place in Madrid.</p>
      </div>
    </div>

    <div class="event-specific">
      <img class="map" src="{{ media('img/contribute/new/venuemap-fpo.jpg') }}" alt="">

      <dl class="event-data">
        <dt>Venue</dt>
        <dd>Distrito C, Madrid</dd>

        <dt>City</dt>
        <dd>Madrid</dd>

        <dt>Region</dt>
        <dd>Madrid</dd>

        <dt>Country</dt>
        <dd>Spain</dd>
      </dl>
    </div>

  </div>

</main>
{% endblock %}

{% block email_form %}{% endblock %}
