{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/base-resp.html" %}

{% block page_title %}{{_('Get Involved: Volunteer Opportunities at Mozilla')}}{% endblock %}
{% block body_id %}events{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('contribute-new') }}
{% endblock %}

{% block js %}
  {{ js('contribute-new') }}
{% endblock %}

{% block site_header_nav %}
<nav id="nav-main" role="navigation">
  <span class="toggle" role="button" aria-controls="nav-main-menu" aria-expanded="false" tabindex="0">{{_('Menu')}}</span>
  <ul id="nav-main-menu">
    <li class="first"><a href="{{ url('mozorg.contribute.a2.landing') }}">{{_('Get Involved')}}</a></li>
    <li><a href="{{ url('mozorg.contribute.a2.events') }}">{{_('Events')}}</a></li>
    <li class="last"><a href="{{ url('mozorg.contribute.a2.stories') }}">{{_('Stories')}}</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<main role="main">

  <header class="page-head">
    <h1 class="page-title">Community Events</h1>
    <h2>There’s always something happening.</h2>

    <div class="head-stats">
      <h3>Did you know?</h3>
      <ul>
        <li><strong>5586</strong> Mozillians all over the world</li>
        <li><strong>80</strong> Mozillians in Spain</li>
        <li><strong>14</strong> upcoming events</li>
      </ul>
    </div>
  </header>

  <div class="box">
    <div class="events-head">
      <img src="{{ media('img/contribute/new/eventmap-fpo.jpg') }}" alt="" class="map">

      <form id="events-filter" method="get" action="#">
        <fieldset>
          <legend>Find events</legend>
          <p>
            <label for="filter-keyword">By city, country, or event:</label>
            <input type="search" id="filter-keyword" name="keyword">
          </p>
          <p>
            <label for="filter-date-mo">By date:</label>
            <select id="filter-date-mo" name="month">
              <option value="" selected>-- Month --</option>
              <option>January</option>
              <option>February</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
            </select>
            <select id="filter-date-yr" name="year">
              <option value="" selected>-- Year --</option>
              <option>2011</option>
              <option>2012</option>
              <option>2013</option>
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
            </select>
          </p>
          <p class="inline">
            <span class="label">By type:</span>
            <label for="filter-type-space">
              <input type="checkbox" name="filter-type" id="filter-type-space" value="space"> Mozilla Space
            </label>
            <label for="filter-type-online">
              <input type="checkbox" name="filter-type" id="filter-type-online" value="online"> Online
            </label>
          </p>
          <p class="form-submit">
            <button type="button" class="button">
              Find Events
            </button>
          </p>
        </fieldset>
      </form>
    </div>

    <h3>Events</h3>
    <table class="events-table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col" class="event-name">Event</th>
          <th scope="col">City</th>
          <th scope="col">Country</th>
          <th scope="col" class="tick">Moz Space</th>
          <th scope="col"class="tick">Online</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><time datetime="2014-07-17">17 July, 2014</time></td>
          <th class="event-name" scope="row"><a href="{{ url('mozorg.contribute.a2.event-detail') }}">Hack the Web</a></th>
          <td>Bucharest</td>
          <td>Romania</td>
          <td class="tick"><span class="no">No</span></td>
          <td class="tick"><span class="yes">Yes</span></td>
        </tr>

        <tr>
          <td><time datetime="2014-07-17">17 July, 2014</time></td>
          <th class="event-name" scope="row"><a href="{{ url('mozorg.contribute.a2.event-detail') }}">Maker Party</a></th>
          <td>Berlin</td>
          <td>Germany</td>
          <td class="tick"><span class="yes">Yes</span></td>
          <td class="tick"><span class="no">No</span></td>
        </tr>

        <tr>
          <td><time datetime="2014-07-30">30 July, 2014</time></td>
          <th class="event-name" scope="row"><a href="{{ url('mozorg.contribute.a2.event-detail') }}">QMO Test Day</a></th>
          <td>Mountain View</td>
          <td>USA</td>
          <td class="tick"><span class="yes">Yes</span></td>
          <td class="tick"><span class="yes">Yes</span></td>
        </tr>

        <tr>
          <td><time datetime="2014-08-06">6</time>-<time datetime="2014-08-08">8 August, 2014</time></td>
          <th class="event-name" scope="row"><a href="{{ url('mozorg.contribute.a2.event-detail') }}">MozCamp Asia</a></th>
          <td>Singapore</td>
          <td>Singapore</td>
          <td class="tick"><span class="no">No</span></td>
          <td class="tick"><span class="no">No</span></td>
        </tr>

        <tr>
          <td><time datetime="2014-07-30">10 August, 2014</time></td>
          <th class="event-name" scope="row"><a href="{{ url('mozorg.contribute.a2.event-detail') }}">Firefox OS apps hacking</a></th>
          <td>Madrid</td>
          <td>Spain</td>
          <td class="tick"><span class="no">No</span></td>
          <td class="tick"><span class="no">No</span></td>
        </tr>
      </tbody>
    </table>

  </div>
</main>
{% endblock %}

{% block email_form %}{% endblock %}
